.list-wrap {
  display: flex;
  align-items: center;
  width: 140px;
  margin: auto;
}

.list-wrap span {
  text-align: right;
}

.list-wrap svg {
  fill: #636162;
}

/* svg {
  fill: #636162 !important;
} */
