#user-info {
  display: flex;
  flex-direction: column;
}

.user-image {
  display: flex;
  justify-content: center;
  margin-top: 3.125em;
  height: 130px;
  width: 130px;
  align-items: center;
  background: #ffffff;
  border-radius: 100%;
  margin: auto;
  /* outline: 1px solid #f50f0f; */
  border-radius: 50%;
  border: 3px solid #636162;
}

.user-image img {
  border: 3px solid #ffffff;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  /* background-color: #e21717; */
}

.container {
  color: #c8c8c8;
  display: flex;
  justify-content: space-evenly;
  background: rgb(99, 97, 98);
  /* height: 32px; */
  align-items: center;
  margin: 1.25rem 0;
}
.username {
  font: bold 1.2rem "Alef";
  margin-top: 1.25rem;
  color: rgb(97, 97, 98);
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
}
