@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  direction: rtl;
  line-height: 1;
  font-family: Alef, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(249, 249, 249);
}

a {
  text-decoration: none;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 18em 1fr;
  grid-template-rows: 64px 1fr 50px;
  grid-template-areas:
    "info-panel top-nav"
    "info-panel pages-area"
    "footer footer";
}

::selection {
  background: #768e8f;
  color: #fff;
}
::-moz-selection {
  background: #768e8f;
  color: #fff;
}

img {
  width: 100%;
  height: 100%;
}

@media screen and (max-device-width: 1200px) {
  main {
    grid-template-columns: 170px 1fr;
  }
}
