#top-nav {
  color: #000;
  grid-area: top-nav;
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 65px;
  display: flex;
  align-items: center;
  /* margin: 0 3em; */
  justify-content: space-between;
  direction: ltr;
  flex-grow: 1;
}

.top-nav::after {
  content: "";
  display: block;
  position: absolute;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#top-nav img {
  width: 200px;
}
