#pages-area {
  grid-area: pages-area;
  background-color: #c4c4c4;
}

.page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 0 3em;
  background-color: #c4c4c4;
  justify-content: space-evenly;
}

.action-btn {
  padding: 0.5em 1em;
  border: 0;
  color: #fff;
  background: #6d6d6d;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  outline: none;
}
